<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" len="404">
    <div class="profile-image" style="float: right;">
        <img src="./picture/6B7DCB3F-41B7-4E93-9057-E37F0A56C909_1_105_c.jpeg" width="300px" style="border-radius: 40%;">
    </div>
    <div class="col-lg-6 px-0" len="363">
        <div>
            <h1 class="display-4 fst-italic" len="36" lang="ko">야구 좋아하는 노원 거인 포스팅</h1>
            <p class="lead my-3" len="143" lang="ko">혼자하는 야구공부, 일상, 취미 공유하고 싶은 거인의 일기장</p>
            <p class="lead mb-0" len="70">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            계속 읽기....
                        </button>
                    </h2>
                </div>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        <strong>야구를 사랑하는 자이언츠를 사랑하는 서울사는 98년생입니다 :)</strong>
                    </p> 
                    <br> 
                    <img src="./svg/briefcase.svg" alt=""> 
                    서경대학교 소프트웨어학과 재학중
                    <br>
                    <br>
                    <img src="./svg/laptop.svg" alt="">
                    To be the FullStack Developer 
                    <br>
                    <br>
                    <img src="./svg/git.svg" alt="">
                    <a href="https://github.com/bigone-77">My Github Repository</a>

                </div>
            </div>
            </p>
        </div>
    </div>
</div>