<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head', { title: 'MLB' }) %>
</head>
<body>
    <%- include('includes/header', { currentUrl: '/MLB' }) %>
    <div class="row" style="margin-left: 10px; margin-right: 10px;">
        <h1 class="display-4 fst-italic" lang="ko"> 야구 좋아하는 노원 거인 포스팅</h1>
        <hr>
            <% for (const post of posts)  { %>
                <%- include('includes/post-lists', { post: post }) %>
            <% } %>
    </div>
</body>
</html>